<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animals</title>

    <!-- External CSS File -->
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="./css/animals.css" />

    <!-- Unicons Link -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <div class="logo">
        <a href="../index.html"
          ><i class="uil uil-brightness"></i> Lambton Zoo</a
        >
      </div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="uil uil-bars"></i>
      </label>
      <ul>
        <li>
          <a href="../index.html" class="active">Home</a>
        </li>
        <li>
          <a href="./visit.html">Visits</a>
        </li>

        <li></li>
        <li>
          <a href="./animals.html">Animals</a>
        </li>
        <li>
          <a href="./plants.html">Plant</a>
        </li>
        <li>
          <a href="./events.html">Events</a>
        </li>
        <li>
          <a href="./contact.html">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- About Animals -->
    <header>
      <h1>Animals</h1>
    </header>
    <main>
      <section>
        <h2>Animals</h2>
        <p>
          Animals are a diverse group of organisms that occupy a significant
          portion of the Earth's ecosystems. They are multicellular, eukaryotic
          organisms that belong to the biological kingdom Animalia. The animal
          kingdom is characterized by its vast diversity in terms of form,
          function, and behavior. With a few exceptions, all animals consume
          organic material, breathe oxygen, are able to move, can reproduce
          sexually, and grow from a hollow sphere of cells, the blastula, during
          embryonic development. <br />
          The animal kingdom is classified into various phyla based on their
          morphological and genetic characteristics. Some of the most common
          phyla include the arthropods, chordates, mollusks, and echinoderms.
          Each phylum has its unique set of characteristics and adaptations that
          allow animals to thrive in various environments. <br />
        </p>
        <div class="ani-img">
          <img
            src="https://images.pexels.com/photos/567540/pexels-photo-567540.jpeg"
            alt="Animals"
          />
          <img
            src="https://images.pexels.com/photos/47547/squirrel-animal-cute-rodents-47547.jpeg"
            alt="Animals"
          />
          <img
            src="https://images.pexels.com/photos/535431/pexels-photo-535431.jpeg"
            alt="Animals"
          />
        </div>
        <p>
          Animals are heterotrophs, which means they cannot produce their food
          and must consume other organisms for nutrition. The mode of nutrition
          varies widely among animals, from herbivores that consume only plants
          to carnivores that feed on other animals. Some animals are omnivorous
          and consume both plant and animal material. <br />
          The ability to move is another defining characteristic of animals.
          Some animals move by crawling, others swim, while others fly. Animals
          have evolved a wide range of adaptations that enable them to move
          efficiently in their respective environments. For instance, birds have
          wings that enable them to fly, while fish have fins that help them
          swim. <br />
          Reproduction is another characteristic that sets animals apart from
          other organisms. Most animals reproduce sexually, which involves the
          fusion of two gametes to form a zygote. Sexual reproduction produces
          offspring that have a unique combination of genes from both parents,
          leading to genetic diversity within the population. Some animals also
          reproduce asexually, where the offspring are genetically identical to
          the parent
        </p>
      </section>
      <section>
        <h2>Extinct Animals</h2>
        <p>
          Extinct animals are species of animals that no longer exist in the
          world today. These animals have either died out completely or evolved
          into different species over time. Extinction is a natural phenomenon
          that has occurred throughout the history of the planet, but it has
          become more prevalent in recent times due to human activities such as
          habitat destruction, pollution, hunting, and climate change. <br />
          The loss of these animals can have a significant impact on the
          environment, as each species plays a unique role in the ecosystem. The
          extinction of one species can lead to a ripple effect, causing changes
          in the food chain and potentially leading to the extinction of other
          species. This loss of biodiversity can have long-term consequences for
          the health and stability of the ecosystem as a whole. <br />
        </p>
        <div class="ani-img">
          <img
            src="https://images.pexels.com/photos/677974/pexels-photo-677974.jpeg"
            alt="Animals"
          />
          <img
            src="https://images.pexels.com/photos/45853/grey-crowned-crane-bird-crane-animal-45853.jpeg"
            alt="Animals"
          />
          <img
            src="https://images.pexels.com/photos/13229922/pexels-photo-13229922.jpeg"
            alt="Animals"
          />
        </div>
        <p>
          Efforts are being made around the world to conserve and protect
          endangered species from extinction. Many conservation organizations
          work to preserve the natural habitats of animals and promote
          sustainable practices to protect their populations. Zoos and wildlife
          sanctuaries also play a vital role in conservation efforts by breeding
          endangered species in captivity and reintroducing them into the wild.
          While it is important to focus on
        </p>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <a href="./index.html"
        ><i class="uil uil-brightness"></i> <b>Lambton Zoo</b></a
      >
      <ul>
        <li>
          <a href="#"><i class="uil uil-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="uil uil-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="uil uil-twitter"></i></a>
        </li>
      </ul>
    </footer>
    <span class="copyright"
      >Made by Group4</span
    >
  </body>
</html>
