<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plant</title>

    <!-- External CSS File -->
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="./css/plant.css" />

    <!-- Unicons Link -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <div class="logo">
        <a href="../index.html"
          ><i class="uil uil-brightness"></i> Lambton Zoo</a
        >
      </div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="uil uil-bars"></i>
      </label>
      <ul>
        <li>
          <a href="../index.html" class="active">Home</a>
        </li>
        <li>
          <a href="./visit.html">Visits</a>
        </li>

        <li></li>
        <li>
          <a href="./animals.html">Animals</a>
        </li>
        <li>
          <a href="./plants.html">Plant</a>
        </li>
        <li>
          <a href="./events.html">Events</a>
        </li>
        <li>
          <a href="./contact.html">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- Plant Section -->
    <header>
      <h1>Plants</h1>
    </header>
    <main>
      <section>
        <h2>Plants</h2>
        <p>
          Welcome to the zoo's plant exhibit, where we showcase some of the most
          fascinating and beautiful plant species from around the world. Plants
          are an essential part of the zoo's ecosystem, providing food, shelter,
          and enrichment for the animals.
          <br />
          One of the most striking plants in our exhibit is the Giant Amazon
          Lily. This plant is native to the Amazon rainforest and produces
          large, white flowers that can reach up to a foot in diameter. The
          Giant Amazon Lily grows in the shallow waters of rivers and lakes,
          providing shelter and food for aquatic animals such as fish and
          turtles.
          <br />
          Another fascinating plant in our exhibit is the Venus Flytrap. This
          carnivorous plant is native to the wetlands of North Carolina and
          South Carolina and is known for its unique ability to capture and
          digest insects. The Venus Flytrap has leaves that are modified into
          trap-like structures that close when triggered by the movement of an
          insect. The plant then digests the insect for nutrients. <br />
          We also have the Titan Arum, also known as the "corpse flower." This
          plant is native to the rainforests of Sumatra and is famous for its
          enormous, foul-smelling flower. The Titan Arum can grow up to ten feet
          tall, and its flower can reach three feet in diameter. The odor of the
          Titan Arum's flower is similar to that of rotting meat, which attracts
          carrion beetles and flies for pollination.
        </p>
        <div class="ani-img">
          <img
            src="https://images.pexels.com/photos/35196/water-plant-green-fine-layers.jpg"
            alt="Plants"
          />
          <img
            src="https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg"
            alt="Plants"
          />
          <img
            src="https://images.pexels.com/photos/1302883/pexels-photo-1302883.jpeg"
            alt="Plants"
          />
        </div>
        <p>
          Finally, we have the Baobab Tree, also known as the "tree of life."
          This tree is native to Africa and can live for up to 5,000 years. The
          Baobab Tree can grow up to 80 feet tall and has a trunk that can reach
          40 feet in diameter. The tree produces a fruit that is high in vitamin
          C and is used for food and medicine by local communities.
          <br />
          In conclusion, plants are an essential part of the zoo's ecosystem,
          providing food, shelter, and enrichment for the animals. Our plant
          exhibit showcases some of the most fascinating and beautiful plant
          species from around the world, and we invite you to explore and learn
          about the incredible diversity of plant life.
        </p>
      </section>
      <section>
        <h2>Extinct Plants</h2>
        <p>
          Extinct plants refer to plant species that no longer exist in the
          world today. These plants have gone extinct due to various factors,
          including habitat destruction, climate change, and overexploitation.
          The extinction of plant species has significant impacts on the
          environment and human society, and efforts are being made to prevent
          further extinctions and conserve endangered species. <br />

          One of the most famous extinct plants is the dinosaur-era tree, the
          Wollemi Pine. This tree was thought to have gone extinct 2 million
          years ago but was rediscovered in 1994 in a remote canyon in
          Australia. Today, the Wollemi Pine is one of the most endangered
          plants in the world, with only a few hundred individuals remaining in
          the wild.
          <br />
          Another extinct plant is the Hawaiian Hibiscus, which was native to
          the Hawaiian Islands. The plant was lost due to habitat destruction
          and the introduction of non-native plant species. Efforts are underway
          to restore the plant through selective breeding and reintroduction to
          the wild. <br />The Franklinia tree, discovered in Georgia in the
          1700s, is also extinct today. This tree was last seen in the wild in
          the early 1800s and is believed to have gone extinct due to habitat
          destruction and disease. Today, the Franklinia tree is only found in
          botanical gardens and arboretums around the world.
        </p>
        <div class="ani-img">
          <img
            src="https://www.kew.org/sites/default/files/2019-06/St%20Helena%20Olive_Rebecca%20Cairns-Wicks%20%282%29.JPG"
            alt="Plants"
          />
          <img
            src="https://www.kew.org/sites/default/files/2019-01/Madagascar%20banana.jpg"
            alt="Plants"
          />
          <img
            src="https://www.kew.org/sites/default/files/2019-02/TEM_ENC_woo_20091118AM055.JPG"
            alt="Plants"
          />
        </div>
        <p>
          The Tecopa pupfish plant is another extinct plant species that was
          native to the United States. This plant was lost due to water
          pollution and habitat destruction. The plant was the primary food
          source for the Tecopa pupfish, a critically endangered fish species,
          and its extinction has had significant impacts on the fish's survival.
          <br />
          In conclusion, extinct plants represent a loss of genetic diversity
          and the loss of critical ecosystem services. The extinction of plant
          species has far-reaching impacts on the environment and human society,
          and conservation efforts are needed to prevent further extinctions and
          preserve endangered species. The rediscovery of the Wollemi Pine
          highlights the importance of conservation efforts and provides hope
          for the survival of other endangered plant species.
        </p>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <a href="./index.html"
        ><i class="uil uil-brightness"></i> <b>Lambton Zoo</b></a
      >
      <ul>
        <li>
          <a href="#"><i class="uil uil-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="uil uil-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="uil uil-twitter"></i></a>
        </li>
      </ul>
    </footer>
    <span class="copyright"
      >Made by Group4</span
    >
  </body>
</html>
