<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visit Us</title>

    <!-- External CSS File -->
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="./css/visit.css" />

    <!-- Unicons Link -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <div class="logo">
        <a href="../index.html"
          ><i class="uil uil-brightness"></i> Lambton Zoo</a
        >
      </div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="uil uil-bars"></i>
      </label>
      <ul>
        <li>
          <a href="../index.html" class="active">Home</a>
        </li>
        <li>
          <a href="./visit.html">Visits</a>
        </li>

        <li></li>
        <li>
          <a href="./animals.html">Animals</a>
        </li>
        <li>
          <a href="./plants.html">Plant</a>
        </li>
        <li>
          <a href="./events.html">Events</a>
        </li>
        <li>
          <a href="./contact.html">Contact</a>
        </li>
      </ul>
    </nav>

    <header>
      <h1>Welcome to the Lambton Zoo</h1>
    </header>

    <!-- Video -->
    <iframe
      id="video"
      width="100%"
      height="500"
      src="https://www.youtube.com/embed/Zv11L-ZfrSg?controls=0&amp;start=18"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <h2 class="cards-head" id="portfolio">Our Animals</h2>
    <div class="main">
      <p>We have a wide variety of animals at the zoo, including:</p>

      <div class="row">
        <div class="column">
          <img
            src="https://images.pexels.com/photos/247502/pexels-photo-247502.jpeg"
            alt="Lion"
          />
        </div>
        <div class="column">
          <img
            src="https://images.pexels.com/photos/7506265/pexels-photo-7506265.jpeg"
            alt="Panda"
          />
        </div>
        <div class="column">
          <img
            src="https://images.pexels.com/photos/2263936/pexels-photo-2263936.jpeg"
            alt="Tiger"
          />
        </div>
        <div class="column">
          <img
            src="https://images.pexels.com/photos/259554/pexels-photo-259554.jpeg"
            alt="Giraffe"
          />
        </div>
      </div>

      <p>
        At the zoo, we are committed to the welfare of our animals and the
        preservation of their natural habitats. Our animals have plenty of space
        to roam around in and are well-cared for by our experienced staff. In
        addition to our animal exhibits, we offer a wide variety of educational
        programs and events for all ages, including behind-the-scenes tours,
        animal encounters, and special exhibits.
        <br />
        <br />
        We believe that by educating our visitors about the importance of
        conservation and the role that zoos can play in protecting endangered
        species, we can inspire the next generation of animal lovers and
        conservationists. We work closely with other organizations around the
        world to support conservation efforts and promote sustainable practices.
        When you visit our zoo, you'll have the opportunity to see a wide range
        of animals up close and learn more about their behaviors, diets, and
        habitats.
        <br />
        <br />
        We invite you to plan your visit today and experience the wonder of the
        animal kingdom firsthand. Whether you're looking to spend a day with
        your family, learn something new about your favorite animals, or support
        a worthy cause, the zoo has something for everyone. Come see us soon and
        join us in our mission to protect and preserve the world's wildlife.
      </p>
    </div>

    <!-- Map Section -->
    <h2 class="cards-head" id="portfolio">Our Map</h2>
    <div class="acontainer">
      <div class="arow">
        <img
          src="https://i.ibb.co/kmWwXqb/Lambton-Zoo-Map.jpg"
          alt="Zoo Image"
        />
        <p>
          The Lambton Zoo is set in the beautiful Rouge Valley. The Main
          Entrance is located on Meadowvale Road, Lambton, north of Highway 401
          (Exit #389 eastbound and westbound). The Zoo is accessible by car and
          public transit. Parking is $15.00. EV Charging stations are available
          in Section C of our main parking lot. The Flo Level 2 stations are
          operational using a credit card, a Flo card or through the Flo app.
          Visit https://www.flo.com/en-CA/drivers/network/ to learn more about
          using the EV charging stations. Charging stations are on a first come,
          first serve basis. Once your vehicle has been charged, we ask that
          guests please move their vehicles to allow others to access them.
          <br /><br />
          <b> Address: 2000 Meadowvale Road, Lambton, Ontario, M1B 5K7</b>
        </p>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <a href="./index.html"
        ><i class="uil uil-brightness"></i> <b>Lambton Zoo</b></a
      >
      <ul>
        <li>
          <a href="#"><i class="uil uil-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="uil uil-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="uil uil-twitter"></i></a>
        </li>
      </ul>
    </footer>
    <span class="copyright">Made by Group4</span>
  </body>
</html>
